// $body: #0f2105;
// $body-light: #20262e;
$body: #FF9900;
$body-light: #0000FF;
$white: #fff;

$background: #83FCD4;

$grey-6: #666;
$grey-9: #999;
$grey-translucent: rgba(0,0,0, 0.65);
$grey-transparent: rgba(0,0,0, 0.3);

$rose: #EA4062;
$pink: #FFB4CF;
$peach: #ff8f7b;
$red: #F21F27;
$blue: #542BFF;
$blue-light: rgba(91,89,241,1);
$cyan: #52DAF2;
$yellow: #FEE685;
$orange: #FFBC78;
$violet: #D0C3E9;
