// Type

@font-face {
   font-family: 'Maria';
   font-weight: normal;
   src: url('../../assets/fonts/maria.woff2') format('woff2'),
        url('../../assets/fonts/maria.woff') format('woff'),
        url('../../assets/fonts/maria.eot') format('eot');
}

@font-face {
   font-family: 'Lyon';
   font-weight: normal;
   src: url('../../assets/fonts/lyontext-regular.woff') format('woff'),
        url('../../assets/fonts/lyontext-regular.eot') format('eot');
}

// Grid

.container-fluid {
  max-width: 1200px;
  flex: 1;
}

// Nav

.home-link a {
  @include transition(all ease-in-out 0.05s);
  &:hover {
    @include transition(all ease-in-out 0.05s);
    color: $body;
    border-bottom: 2px solid $body;
  }
}

.nav-page-link {
  &:not(:last-child) {
    margin-right: 12px;
  }
  &:hover {
    color: $body;
    border-bottom: 2px solid $body;
  }
}

// Posts list

.post-date {
  font-size: 14px;
}

.post-list-row-no-hover {
  border-top: 1px solid $grey-transparent;
  margin-top:12px;
}

.post-list-row-no-hover h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.167;
  margin: 1px 0px 3px;
}

.post-list-row {
  @include transition(all ease-in-out 0.05s);
  border-top: 1px solid $grey-transparent;
  margin-top:12px;
  &:hover {
    @include transition(all ease-in-out 0.05s);
    border-top: 1px solid $grey-translucent;
  }
}

.post-list-row h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.167;
  margin: 1px 0px 3px;
}

.post-list-big h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  margin: -8px 0px 0px 0px;
  @media only screen and (max-width: 768px) {
    font-size: 46px;
  }
}

.subtitle {
  color: $grey-translucent;
}

.post-img-square {
  width:100%;
  padding-bottom: 66%;
  background-size: cover;
  margin-top: 9px;
  margin-bottom: 24px;
  @media only screen and (max-width: 560px) {
    width: 62%;
    padding-bottom: 62%;
    margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 0px;
    float: right;
  }
}

.post-list-square-date {
  margin-bottom: 0px;
}

// Posts

.post-header h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  margin: -8px 0px 0px 0px;
  @media only screen and (max-width: 768px) {
    font-size: 46px;
  }
}

.post-header span {
  color: $grey-6;
}

.post-body {
  @include serif();
  font-size: 20px;
  color: $body-light;
  line-height: 1.5;
}

.post-body h2 {
  @include sans-serif();
  font-size:28px;
}

.post-body a {
  @include sans-serif();
  @include transition(all ease-in-out 0.05s);
  color: $body-light;
  border-bottom: 2px solid transparent;
  margin: 0px 1px;
  padding: 0px;
  &:hover {
    @include transition(all ease-in-out 0.05s);
    color: $body-light;
    border-bottom: 2px solid $body-light;
    margin: 0px 1px;
    padding: 0px;
  }
}

.post-body table {
  @include monospace();
  font-size: 15px;
  @media only screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.post-table-lg {
  display: table;
  @media only screen and (max-width: 992px) {
    display:none;
  }
}

.post-table-sm {
  display: none;
  @media only screen and (max-width: 992px) {
    display: table;
  }
}

.post-body tr {
  border-bottom: 1px solid $grey-transparent;
  @media only screen and (max-width: 992px) {
    border-bottom: 1px solid $grey-translucent;
  }
}

.post-body th, td {
  padding-top: 6px;
  padding-bottom: 7px;
}

.post-img img {
  max-width: 100%;
  max-height: 100%;
}

.post-img-caption {
  @include sans-serif();
  max-width: 520px;
  margin-top:16px;
  font-size:15px;
  line-height: 1.2;
  color: $grey-translucent;
}

.post-tag-link {
  line-height:40px;
}

.post-tag-link a {
  @include transition(all ease-in-out 0.03s);
  @include monospace();
  padding: 5px 10px;
  color: $grey-translucent;
  border-radius: 6px;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  border: 1px solid $grey-translucent;
  &:not(:last-child) {
    margin-right: 4px;
  }
  &:hover {
    @include monospace();
    padding: 5px 10px;
    border-radius: 6px;
    color: $grey-translucent;
    background-color: $white;
    font-size: 14px;
    border: 1px solid $white;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.first-tag-list-rule {
  border-top: 6px solid $body;
  margin-top:12px;
  &:hover {
    border-top: 6px solid $body;
  }
}

// footer

.footer-text {
  font-size: 18px;
}

.footer-text a:hover {
  border: 0px;
}

// Body

body {
  // background: $background;
  @include sans-serif();
  font-size: 20px;
  line-height: 1.2;
  color: $body;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

// Linx

a {
  color: $body;
  border: 0px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  &:hover{
    color: $body;
    border-bottom: 2px solid $body;
    padding-bottom: 1px;
    text-decoration: none;
  }
  &:focus{
    outline: 1px dotted $blue;
  }
}
