  </div>
</div>
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 px-0 px-md-3 pt-md-4 pb-md-4 pt-2 pb-2">
    <div class="post-img">
      <img src="../../../assets/img/{{page.img-01}}">
    </div>
    <div class="post-img-caption px-3 mx-1 mx-md-0 px-md-0">
      {{page.img-01-caption}}
    </div>
  </div>
  <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 px-0 px-md-3 pt-md-0 pt-lg-4 pb-md-4 pt-2 pb-2">
    <div class="post-img">
      <img src="../../../assets/img/{{page.img-02}}">
    </div>
    <div class="post-img-caption px-3 mx-1 mx-md-0 px-md-0">
      {{page.img-02-caption}}
    </div>
  </div>
</div>
<div class="row mx-1">
  <div class="col-12 col-md-10 offset-md-1 offset-lg-2 col-lg-8 mt-4 pl-lg-3 pb-2 pb-lg-2 px-0 post-body">
