<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0 pt-md-2 pt-2 pb-md-4 pb-4">
      <h2>
        Here’s the table header.
      </h2>
      <table width=100%>
        {% for row in site.data.liukin-sm %}
          {% if forloop.first %}
          <tr>
            {% for pair in row %}
              <th>{{ pair[0] }}</th>
            {% endfor %}
          </tr>
          {% endif %}
          {% tablerow pair in row %}
            {{ pair[1] }}
          {% endtablerow %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
