---
layout: post
title:  "Nailpolish is my Healing Medicine"
subtitle: "I was also told to dance nude at midnight and join a dating app"
date:   2020-05-31 16:49:33 -0400
tags: astrology
bg: violet
---

<p>
  The resulting Cross-Government Journey Map was based on data from interviews with 25 veterans and service members and experts from six federal agencies. The map lays out the process chronologically, and qualitatively in terms of “building blocks” and “barriers.” The team made recommendations for future improvements to the customer experience based on themes that emerged when synthesizing their research.
</p>

{% include full-width-table-open.html %}
{% for row in site.data.liukin %}
{% include full-width-table-middle.html %}
{% for row in site.data.liukin-sm %}
{% include full-width-table-close.html %}

<p>
  The resulting Cross-Government Journey Map was based on data from interviews with 25 veterans and service members and experts from six federal agencies. The map lays out the process chronologically, and qualitatively in terms of “building blocks” and “barriers.” The team made recommendations for future improvements to the customer experience based on themes that emerged when synthesizing their research.
</p>
<p>
  The resulting Cross-Government Journey Map was based on data from interviews with 25 veterans and service members and experts from six federal agencies. The map lays out the process chronologically, and qualitatively in terms of “building blocks” and “barriers.” The team made recommendations for future improvements to the customer experience based on themes that emerged when synthesizing their research.
</p>
