---
layout: default
---

<div class="container-fluid">
  <div class="row mx-1">
    <div class="col-12 offset-md-1 col-md-11 offset-lg-0 col-lg-2 px-0 pt-lg-4 pb-3">
      {%- assign date_format = "%b %-d, %Y" -%}
      <span class="post-date">{{ page.date | date: date_format }}</span>
    </div>
    <div class="col-12 offset-md-1 offset-lg-0 col-md-10 col-lg-8 pl-lg-3 pb-2 pb-lg-2 px-0">
      <div class="post-header">
      <h1>
        {{ page.title | escape }}<br>
        <span>{{ page.subtitle | escape }}</span>
      </h1>
      </div>
    </div>
    <div class="col-12 offset-md-1 offset-lg-0 col-md-10 offset-lg-2 col-lg-8 mt-4 pl-lg-3 pb-2 pb-lg-2 px-0 post-body">
      {{ content }}
    </div>
  </div>
</div>
