---
layout: default
---

<div class="container-fluid">
  <div class="row mx-1">
    <div class="col-12 offset-md-1 col-md-11 offset-lg-0 col-lg-2 px-0 pt-lg-4 pb-3">
      {%- assign date_format = "%b %-d, %Y" -%}
      <span class="post-date">{{ page.date | date: date_format }}</span>
    </div>
    <div class="col-12 offset-md-1 offset-lg-0 col-md-10 col-lg-8 pl-lg-3 pb-2 pb-lg-2 px-0">
      <div class="post-header">
      <h1>
        {{ page.title | escape }}<br>
        <span>{{ page.subtitle | escape }}</span>
      </h1>
      </div>
    </div>
    <div class="col-12 offset-md-1 offset-lg-0 col-md-10 offset-lg-2 col-lg-8 mt-4 pl-lg-3 pb-2 pb-lg-2 px-0 post-body">
      {{ content }}
    </div>
  </div>

  {% if page.previous.url %}
  <a href="{{ page.previous.url }}">
    <div class="row mx-1 post-link">
      <div class="col-4 col-md-3 offset-md-1 offset-lg-0 col-lg-2 pt-4 pb-3 pl-0 post-list-rule">
          <span class="post-date">Previous post</span>
      </div>
      <div class="col-8 col-md-7 col-lg-10 pt-4 pb-2 pr-0 pl-lg-3 post-list-rule">
        <h3>
          {{ page.previous.title | escape }}<br>
          <span class="subtitle-small">{{ page.previous.subtitle | escape }}</span>
        </h3>
      </div>
    </div>
  </a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url }}">
    <div class="row mx-1 post-link">
      <div class="col-4 col-md-3 offset-md-1 offset-lg-0 col-lg-2 pt-4 pb-3 pl-0 post-list-rule">
          <span class="post-date">Next post</span>
      </div>
      <div class="col-8 col-md-7 col-lg-10 pt-4 pb-2 pr-0 pl-lg-3 post-list-rule">
        <h3>
          {{ page.next.title | escape }}<br>
          <span class="subtitle-small">{{ page.next.subtitle | escape }}</span>
        </h3>
      </div>
    </div>
  </a>
  {% endif %}

</div>
